In [1]:
import pandas as pd
import numpy as np

In [63]:
df_2_a = (pd.read_csv('All row files/2. Wikipedia Serial Killers List/V0-serial_killers_by_victims.csv'))

In [64]:
list(df_2_a['Country'].unique())

['Colombia, Ecuador, Venezuela',
 'Colombia, Peru, Ecuador',
 'Pakistan',
 'Russia',
 'Colombia, Ecuador, Brazil',
 'Brazil',
 'India',
 'Iran',
 'China',
 'Afghanistan',
 'United States',
 'Belgian Congo, Tanganyika',
 'Soviet Union',
 'Soviet Union, Ukraine',
 'Indonesia',
 'South Africa',
 'Morocco',
 'Kingdom of Romania, Yugoslavia, Hungary',
 'Mexico',
 'Ottoman Empire, Iraq, Iran',
 'Egypt',
 'Germany',
 'Colombia',
 'Zambia',
 'Swaziland',
 'Greece',
 'Canada',
 'United Kingdom',
 'Austria-Hungary',
 'France, Germany, Switzerland',
 'Ecuador',
 'United States, Canada',
 'Soviet Union, Russia, Tajikistan',
 'Romania',
 'South Korea',
 'Costa Rica',
 'Soviet Union, Russia',
 'Latvia',
 'Turkey',
 'France',
 'Sri Lanka',
 'Peru',
 'Ukraine',
 'Italy',
 'France, Belgium',
 'Spain',
 'United States, Mexico',
 'Argentina',
 'Poland',
 'Chile',
 'West Germany',
 'Tunisia',
 'Venezuela',
 'Rwanda',
 'Thailand, Nepal, India, Malaysia',
 'Yemen',
 'Japan',
 'Austria, United States, Czechoslovakia',
 'Belgium',
 'Bangladesh',
 'Czechoslovakia',
 'Soviet Union, Russia, Ukraine',
 'Kenya',
 'German Empire, Germany',
 'Denmark',
 'Ecuador, Spain',
 'Czechoslovakia, Germany, Netherlands',
 'Sweden',
 'China, Japan',
 'Australia',
 'Spain, France, Italy',
 'Canada, United States',
 'Cyprus',
 'Italy, France',
 'East Germany, Germany, France, Spain, Czech Republic, Italy',
 'Belarus',
 'East Germany, Germany',
 'Estonia',
 'United States, Portuguese Angola',
 'Switzerland, France, United States, Yugoslavia, Italy',
 'West Germany, United States',
 'Netherlands',
 'SR Croatia',
 'Panama',
 'Singapore',
 'Belize',
 'SR Slovenia',
 'Namibia',
 'United Kingdom, Ireland, West Germany, Netherlands, France',
 'Austria',
 'Hong Kong',
 'Israel',
 'Allied-occupied Germany, West Germany',
 'Republic of Macedonia',
 'East Germany',
 'SR Slovenia, Serbia and Montenegro, Slovenia',
 'Portugal',
 'Malaysia',
 'United States, Austria, France, United Kingdom',
 'Singapore, Malaysia',
 'Kingdom of Yugoslavia',
 'Iraq',
 'Norway',
 'Switzerland',
 'Czech Republic',
 'Imperial State of Iran',
 'Finland',
 'United States, Zimbabwe',
 'Hungary',
 'Belgium, France',
 'Guatemala',
 'Uzbekistan, Kazakhstan',
 'Italy, West Germany, Netherlands']

In [65]:
country_to_continent = {
    'Colombia, Ecuador, Venezuela': 'South America',
    'Colombia, Peru, Ecuador': 'South America',
    'Pakistan': 'Asia',
    'Russia': 'Europe',
    'Colombia, Ecuador, Brazil': 'South America',
    'Brazil': 'South America',
    'India': 'Asia',
    'Iran': 'Asia',
    'China': 'Asia',
    'Afghanistan': 'Asia',
    'United States': 'North America',
    'Belgian Congo, Tanganyika': 'Multiple continents',
    'Soviet Union': 'Multiple continents',
    'Soviet Union, Ukraine': 'Multiple continents',
    'Indonesia': 'Asia',
    'South Africa': 'Africa',
    'Morocco': 'Africa',
    'Kingdom of Romania, Yugoslavia, Hungary': 'Europe',
    'Mexico': 'North America',
    'Ottoman Empire, Iraq, Iran': 'Multiple continents',
    'Egypt': 'Africa',
    'Germany': 'Europe',
    'Colombia': 'South America',
    'Zambia': 'Africa',
    'Swaziland': 'Africa',
    'Greece': 'Europe',
    'Canada': 'North America',
    'United Kingdom': 'Europe',
    'Austria-Hungary': 'Multiple continents',
    'France, Germany, Switzerland': 'Europe',
    'Ecuador': 'South America',
    'United States, Canada': 'North America',
    'Soviet Union, Russia, Tajikistan': 'Multiple continents',
    'Romania': 'Europe',
    'South Korea': 'Asia',
    'Costa Rica': 'North America',
    'Soviet Union, Russia': 'Multiple continents',
    'Latvia': 'Europe',
    'Turkey': 'Asia',
    'France': 'Europe',
    'Sri Lanka': 'Asia',
    'Peru': 'South America',
    'Ukraine': 'Europe',
    'Italy': 'Europe',
    'France, Belgium': 'Europe',
    'Spain': 'Europe',
    'United States, Mexico': 'North America',
    'Argentina': 'South America',
    'Poland': 'Europe',
    'Chile': 'South America',
    'West Germany': 'Europe',
    'Tunisia': 'Africa',
    'Venezuela': 'South America',
    'Rwanda': 'Africa',
    'Thailand, Nepal, India, Malaysia': 'Asia',
    'Yemen': 'Asia',
    'Japan': 'Asia',
    'Austria, United States, Czechoslovakia': 'Europe',
    'Belgium': 'Europe',
    'Bangladesh': 'Asia',
    'Czechoslovakia': 'Europe',
    'Soviet Union, Russia, Ukraine': 'Multiple continents',
    'Kenya': 'Africa',
    'German Empire, Germany': 'Europe',
    'Denmark': 'Europe',
    'Ecuador, Spain': 'South America',
    'Czechoslovakia, Germany, Netherlands': 'Europe',
    'Sweden': 'Europe',
    'China, Japan': 'Asia',
    'Australia': 'Oceania',
    'Spain, France, Italy': 'Europe',
    'Canada, United States': 'North America',
    'Cyprus': 'Asia',
    'Italy, France': 'Europe',
    'East Germany, Germany, France, Spain, Czech Republic, Italy': 'Europe',
    'Belarus': 'Europe',
    'East Germany, Germany': 'Europe',
    'Estonia': 'Europe',
    'United States, Portuguese Angola': 'North America',
    'Switzerland, France, United States, Yugoslavia, Italy': 'Europe',
    'West Germany, United States': 'Europe',
    'Netherlands': 'Europe',
    'SR Croatia': 'Europe',
    'Panama': 'North America',
    'Singapore': 'Asia',
    'Belize': 'North America',
    'SR Slovenia': 'Europe',
    'Namibia': 'Africa',
    'United Kingdom, Ireland, West Germany, Netherlands, France': 'Europe',
    'Austria': 'Europe',
    'Hong Kong': 'Asia',
    'Israel': 'Asia',
    'Allied-occupied Germany, West Germany': 'Multiple continents',
    'Republic of Macedonia': 'Europe',
    'East Germany': 'Europe',
    'SR Slovenia, Serbia and Montenegro, Slovenia': 'Europe',
    'Portugal': 'Europe',
    'Malaysia': 'Asia',
    'United States, Austria, France, United Kingdom': 'North America',
    'Singapore, Malaysia': 'Asia',
    'Kingdom of Yugoslavia': 'Europe',
    'Iraq': 'Asia',
    'Norway': 'Europe',
    'Switzerland': 'Europe',
    'Czech Republic': 'Europe',
    'Imperial State of Iran': 'Multiple continents',
    'Finland': 'Europe',
    'United States, Zimbabwe': 'North America',
    'Hungary': 'Europe',
    'Belgium, France': 'Europe',
    'Guatemala': 'North America',
    'Uzbekistan, Kazakhstan': 'Asia',
    'Italy, West Germany, Netherlands': 'Europe'
}

In [66]:
df_2_a['Continent'] = df_2_a['Country'].map(country_to_continent)

In [67]:
df_2_a['Continent'].value_counts()

Continent
North America          325
Europe                 214
Asia                    95
Africa                  39
South America           33
Multiple continents     31
Oceania                 20
Name: count, dtype: int64

In [68]:
def categorize_multiple_countries(country_series):
    return country_series.apply(lambda x: "Multiple Countries" if ',' in x else x)

In [69]:
df_2_a['Country Sorted'] = categorize_multiple_countries(df_2_a['Country'])


display(df_2_a)

,Name,Country,Start year,End year,Proven victims,Possible victims,Notes,Continent,Country Sorted
0,Luis Garavito,"Colombia, Ecuador, Venezuela",1992.0,1999.0,193.0,247.0,"Child-murderer, torture-killer, and rapist kno...",South America,Multiple Countries
1,Pedro López,"Colombia, Peru, Ecuador",1969.0,1980.0,110.0,300.0,"Child-murderer and rapist, known as ""The Monst...",South America,Multiple Countries
2,Javed Iqbal,Pakistan,1998.0,1999.0,100.0,100.0,"Child-murderer and rapist, known as ""Kukri"", I...",Asia,Pakistan
3,Mikhail Popkov,Russia,1992.0,2010.0,83.0,86.0,"Serial rapist-killer nicknamed ""The Werewolf"",...",Europe,Russia
4,Daniel Camargo Barbosa,"Colombia, Ecuador, Brazil",1974.0,1986.0,72.0,180.0,"Child and woman murderer, believed to have pos...",South America,Multiple Countries
...,...,...,...,...,...,...,...,...,...
752,Michael Bear Carson and Suzan Carson,United States,1981.0,1983.0,3.0,3.0,Nomadic hippie killers involved in the counter...,North America,United States
753,Joseph and Michael Kallinger,United States,1974.0,1975.0,3.0,3.0,Joseph Kallinger murdered three people and tor...,North America,United States
754,Silvia Merez Cult,Mexico,2009.0,2012.0,3.0,3.0,Ritually murdered three people in sacrifices t...,North America,Mexico
755,Raya and Sakina and their husbands,Egypt,1919.0,1920.0,2.0,2.0,Gang of four that rented a house for women and...,Africa,Egypt
756,Amelia Sach and Annie Walters,United Kingdom,1900.0,1903.0,1.0,300.0,"Sach and Walters, known as the ""Finchley baby ...",Europe,United Kingdom

In [70]:
df_2_a.head()

,Name,Country,Start year,End year,Proven victims,Possible victims,Notes,Continent,Country Sorted
0,Luis Garavito,"Colombia, Ecuador, Venezuela",1992.0,1999.0,193.0,247.0,"Child-murderer, torture-killer, and rapist kno...",South America,Multiple Countries
1,Pedro López,"Colombia, Peru, Ecuador",1969.0,1980.0,110.0,300.0,"Child-murderer and rapist, known as ""The Monst...",South America,Multiple Countries
2,Javed Iqbal,Pakistan,1998.0,1999.0,100.0,100.0,"Child-murderer and rapist, known as ""Kukri"", I...",Asia,Pakistan
3,Mikhail Popkov,Russia,1992.0,2010.0,83.0,86.0,"Serial rapist-killer nicknamed ""The Werewolf"",...",Europe,Russia
4,Daniel Camargo Barbosa,"Colombia, Ecuador, Brazil",1974.0,1986.0,72.0,180.0,"Child and woman murderer, believed to have pos...",South America,Multiple Countries

In [71]:
df_2_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              757 non-null    object
 1   Country           757 non-null    object
 2   Start year        738 non-null    float64
 3   End year          740 non-null    float64
 4   Proven victims    757 non-null    float64
 5   Possible victims  757 non-null    float64
 6   Notes             754 non-null    object
 7   Continent         757 non-null    object
 8   Country Sorted    757 non-null    object
dtypes: float64(4), object(5)
memory usage: 53.4+ KB

In [72]:
df_2_a[['Start year', 'End year', 'Proven victims', 'Possible victims']] = df_2_a[['Start year', 'End year', 'Proven victims', 'Possible victims']].astype('Int64')

In [73]:
df_2_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              757 non-null    object
 1   Country           757 non-null    object
 2   Start year        738 non-null    Int64
 3   End year          740 non-null    Int64
 4   Proven victims    757 non-null    Int64
 5   Possible victims  757 non-null    Int64
 6   Notes             754 non-null    object
 7   Continent         757 non-null    object
 8   Country Sorted    757 non-null    object
dtypes: Int64(4), object(5)
memory usage: 56.3+ KB

In [74]:
df_2_a.to_csv("All row files/2. Wikipedia Serial Killers List/V1-serial_killers_by_victims.csv", index=False)